<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Blindfold</string>
	<key>uuid</key>
	<string>F7A7AC66-6FE4-4F1D-A3A2-D1013031F430</string>
</dict>
</plist>
